.form-container {
    position: absolute;
    top: 15vh;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
} 

.alert {
    width: 250px;
    visibility: hidden;
}