.form-container {
    position: absolute;
    top: 15vh;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
} 

.div-container {
    position: absolute;
    top: 15vh;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
}

.alert {
    width: 250px;
    visibility: hidden;
}

.list-group {
    width: 275px;
}

.task-items {
    display: inline;
    margin-left: 170px;
}

.edit-task:hover {
    cursor: pointer;
}

.delete-task {
    margin-left: 10px;
}

.delete-task:hover {
    cursor: pointer;
}